# Google Sheet ID
GOOGLE_SHEET_ID="16AzF_rX2tBhcHQVpswTZ9ZbjsP232LBBpqeJZScfwOU"

# For Local Development:
# 1. Place 'credentials.json' in the root or 'backend/' folder.

# For Cloud Development (Render/Vercel):
# 1. Paste the entire content of 'credentials.json' as a string below.
GOOGLE_SERVICE_ACCOUNT_JSON='{"type": "service_account", "project_id": "...", ...}'
